@import "normalize.less";
@import "mixins.less";
@import "templates.less";

/* Variables */
:root {
    --light-color: #ffffff;
    --select-green: green;
}

/* Styles */
html {
    color: #eeeeee;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none;
}

#app {
    .centered-children();
}

h1, h2 {
    margin: 0;
    padding: 0;
}

#control-panel {
    width: 500px;
    flex-shrink: 1;
    margin: 10px;
}

#control-pick-type {
    input {
        display: none;
    }

    #pick-options {
        list-style-type: none;
        padding: 0;
        display: flex;

        label {
            display: inline-block;
            border: 4px solid white;
            flex-grow: 1;
            flex-basis: 0;
        }

        input:checked+label {
            position: relative;
            border: 4px solid var(--select-green);
        }

        input:checked+label:after {
            content: "✔";
            display: block;
            float: right;
            background-color: var(--select-green);
            width: 20px;
            height: 20px;
            text-align: center;
            position: absolute;
            top: 0;
        }

        label > div.pick-template-container {
            height: 120px;
            background-color: black;

            .ring-wrapper {
                filter: blur(3px);
            }

            .softbox-wrapper {
                filter: blur(15px);
            }
        }
    }
}

.panel {
    background-color: rgba(0, 0, 0, 0.85);
    border: 2px solid #ffffff49;
    padding: 10px;
    margin: 10px 0;
    .rounded();
}

#backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;

    .ring-wrapper {
        width: 90vmin;
        height: 90vmin;
    }
}

.template {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .centered-children();
}

button {
    text-transform: lowercase;
    .rounded();
}

#big-button {
    color: white;
    width: 100%;
    padding: 1rem;
    background-color: #009e28;
    font-size: 2rem;
}