@import "normalize.less";
@import "templates.less";

/* Variables */
:root {
    --light-color: #ffffff;
}

/* Mixins */
.rounded {
    border-radius: 6px;
}

.centered-children {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles */
html {
    color: #eeeeee;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    .centered-children();
}

h1, h2 {
    margin: 0;
    padding: 0;
}

#control-panel {
    width: 500px;
    flex-shrink: 1;
    margin: 10px;
}

.panel {
    background-color: rgba(0, 0, 0, 0.85);
    border: 2px solid #ffffff49;
    padding: 10px;
    margin: 10px 0;
    .rounded();
}

#preview-panel {
    h2 {
        margin-bottom: 10px;
    }
}

#preview {
    height: 300px;
    background-color: black;
    padding: 10px;
    .rounded();
    .centered-children();
}

#backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;

    .ring-wrapper {
        width: 90vmin;
        height: 90vmin;
    }
}

#templates {
    display: none;
}

.template {
    width: 100%;
    height: 100%;
    .centered-children();
}