@import "mixins.less";

.ring-wrapper {
    position: relative;
    width: 60%;
    filter: blur(10px);
    .centered-children();

    .ring-outer {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-color: var(--light-color);
    }

    .ring-inner {
        position: absolute;
        height: 55%;
        width: 55%;
        border-radius: 50%;
        background-color: black;
    }
}

.ring-wrapper:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.solid {
    width: 100%;
    height: 100%;
    background-color: var(--light-color);
}

.softbox-wrapper {
    width: 100%;
    height: 100%;
    filter: blur(80px);
    .centered-children();

    .softbox {
        width: 90%;
        height: 90%;
        background-color: var(--light-color);
    }
}
